@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

#root {
  margin: 0;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #060239, #27046d, #fb515a);
  min-height: 100vh;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
}

.iconStyle {
  padding-top: 1rem;
}

.intro {
  padding: 3rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.intro-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.intro-card-photo {
  max-width: 25%;
  height: auto;
}

.intro-card-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.intro-links {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15%;
}

.intro-links-responsive {
  display: none;
}

.intro-link {
  width: 80%;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
}

.intro-link {
  --color: #060239;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.intro-link::after,
.intro-link::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.intro-link::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.intro-link:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.intro-link:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.intro-link:hover {
  color: var(--color2);
}

.intro-link:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #a161fbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  .intro-links {
    display: none;
  }
  .intro-links-responsive {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 2rem;
    flex-direction: column; /* Cambiar a diseño vertical en pantallas pequeñas */
    align-items: center;
  }
  .intro-card {
    flex-direction: column; /* Colocar la imagen y el texto uno sobre otro */
    text-align: center;
  }
  .intro-card-photo {
    max-width: 50%; /* Ajustar el tamaño de la imagen en pantallas pequeñas */
  }
  .intro-card-text {
    margin-left: 0;
    margin-top: 1.5rem;
    font-size: 1rem; /* Ajustar tamaño del texto en pantallas pequeñas */
  }
  .intro-links-responsive {
    gap: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0;
  }
  .intro-card-photo {
    max-width: 30%; /* Hacer que la imagen ocupe más espacio en pantallas muy pequeñas */
  }
  .intro-card-text {
    font-size: 0.9rem;
  }
  .intro-link {
    font-size: 1rem;
  }
}
