@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

#root {
  --white: #eaeaeade;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #060239, #27046d, #fb515a);
  min-height: 100vh;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
}

.iconStyle {
  padding-top: 1rem;
}

.intro {
  padding: 3rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.intro-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.intro-card-photo {
  max-width: 25%;
  height: auto;
}

.intro-card-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.intro-links {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15%;
}

.intro-links-responsive {
  display: none;
}

.intro-link {
  width: 80%;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
}

.intro-link {
  --color: #060239;
  --color2: #0a191e;
  padding: 1rem;
  background-color: transparent;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 1.2rem;
  border: 0.15rem solid;
  color: var(--color);
  z-index: 1;
}

.intro-link::before,
.intro-link::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.intro-link::before {
  top: -1em;
  left: -1em;
}

.intro-link::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.intro-link:hover::before,
.intro-link:hover::after {
  height: 410px;
  width: 410px;
}

.intro-link:hover {
  color: rgb(10, 25, 30);
}

.intro-link:active {
  filter: brightness(0.8);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #a161fbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--white);
  border-radius: 0.5rem;
  margin: 3rem;
}
.project-container {
  width: 30%;
}

.project-img {
  padding: 1rem;
  width: 80%;
  border-radius: 0.3rem;
}

/* Responsive Design */
@media screen and (max-width: 1180px) {
  .intro-links {
    display: none;
  }
  .intro-links-responsive {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 2rem;
    flex-direction: column; /* Cambiar a diseño vertical en pantallas pequeñas */
    align-items: center;
  }
  .intro-card {
    flex-direction: column; /* Colocar la imagen y el texto uno sobre otro */
    text-align: center;
  }
  .intro-card-photo {
    max-width: 50%; /* Ajustar el tamaño de la imagen en pantallas pequeñas */
  }
  .intro-card-text {
    margin-left: 0;
    margin-top: 1.5rem;
    font-size: 1rem; /* Ajustar tamaño del texto en pantallas pequeñas */
  }
  .intro-links-responsive {
    gap: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0;
  }
  .intro-card-photo {
    max-width: 30%; /* Hacer que la imagen ocupe más espacio en pantallas muy pequeñas */
  }
  .intro-card-text {
    font-size: 0.9rem;
  }
  .intro-link {
    font-size: 1rem;
  }
}
