@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #eaeaeade;
  color-scheme: light dark;
  color: var(--white);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}
a:hover {
  color: var(--white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

h1 {
  margin: 1rem 0 1rem 0;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 500;
}

p {
  font-size: 1rem;
}

/* button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--white);
  }
}
